<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.tim.xchat.common">
    <application>
        <activity android:name=".XChatBaseActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name="cn.tim.xchat.common.core.WebSocketService"
            android:enabled="true"
            android:exported="true"/>
    </application>
</manifest>